# KiCad
*.bak
*.kicad_prl
*-backups/
fp-info-cache
_autosave*

project_files/Ohmsprint.kicad_prl
project_files/design-block-lib-table
project_files/sym-lib-table
project_files/.history/
Ohmsprint-backups/
